.App {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto auto;
	justify-items: center;
}

h1 {
	grid-row: 1;
	text-align: center;
	font-size: 1.2em;
}

.DataEntry {
	padding-top: 2%;
	grid-row: 2;
	display: grid;
	grid-template-rows: auto auto;
	text-align: center;
}

.DataEntry select, .DataEntry input {
	background-color: transparent;
}

.DataEntry input::placeholder {
	color: #d1d1d1;
}

option {
	background-color: #b39488;
	padding: 0 5px;
}

.ResultWrapper {
	padding: 0 10%;
	display: flex;
	align-items: center;
	min-height: 200px;
}

.Result {
	grid-row: 3;
}

.Descriptions {
	padding: 0 3%;
	display: flex;
	flex-wrap: wrap-reverse;
	grid-row: 4;
}

.Text * {
	font-size: 1em;
}

.Text h2 {
	text-align: center;
	font-size: 1.2em;
}

.Text {
	flex-basis: 100%;
	margin-bottom: 25px;
}

.Text p {
	text-align: justify;
	margin: 10px 0;
}

.Descriptions .Text:nth-child(2) p {
	text-align: center;
}

.Descriptions .Text:nth-child(1) p {
	margin: 10px 25px;
}

@media (min-width: 1200px) {
	h1 {
		font-size: 1.5em;
	}
	
	.DataEntry {
		display: block;
	}
	
	.Result {
		font-size: 1.5em;
	}

	.Text {
		flex-basis: 50%;
	}

	.Text * {
		font-size: 1.2em;
	}

	.Text h2 {
		text-align: center;
		font-size: 1.5em;
	}
}