.App {
	display: grid;
	grid-template-rows: auto auto auto auto;
	justify-items: center;
}

h1 {
	grid-row: 1;
}

.DataEntry {
	padding-top: 2%;
	grid-row: 2;
	width: 950px;
	/* position: relative;
	left: 50%;
	margin-left: -475px; */
	text-align: center;
}

.Result {
	font-size: 1.5em;
	grid-row: 3;
}

.Descriptions {
	padding: 0 5%;
	display: flex;
	grid-row: 4;
}

.Text h2 {
	text-align: center;
}

.Text {
	padding: 0 5%;
	flex-basis: 100%;
}

.Text p {
	text-align: justify;
	margin: 10px 0;
}

.Descriptions .Text:nth-child(2) p {
	text-align: center;
}